.expense-form {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.expense-form h2 {
  margin-bottom: 15px;
  color: #444;
}
.expense-form textarea,
.expense-form input,
.expense-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  height: 40px;
}

.expense-form input:focus {
  outline: none;
  border-color: #007bff;
}

.expense-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.expense-form button:hover {
  background-color: #0056b3;
}

.expense-form select {
  background-color: rgb(249, 249, 249);
}





/* .expense-form {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

.expense-form input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.expense-form button {
  padding: 8px 12px;
} */
